<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:util="http://www.springframework.org/schema/util"
	xmlns:jee="http://www.springframework.org/schema/jee"
	xsi:schemaLocation="
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-2.5.xsd
http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-2.5.xsd">

	<!-- DataSources -->
		<!-- admin -->
	<bean id="dataSource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
			<property name="url" value="jdbc:mysql://localhost:3306/x071vm20_admin" />
		<property name="username" value="root" />
		<property name="password" value="tico" />
	</bean>
		<!-- siif -->
	<bean id="dataSourceSIIF"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
			<property name="url" value="jdbc:mysql://localhost:3306/x071vm20_siif" />
		<property name="username" value="root" />
		<property name="password" value="tico" />
	</bean>

		<!-- siim -->
	<bean id="dataSourceSIIM"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
			<property name="url" value="jdbc:mysql://localhost:3306/x071vm20_siim" />
		<property name="username" value="root" />
		<property name="password" value="tico" />
	</bean>

	<!-- Hibernate SessionFactory -->
		<!-- admin -->
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean">
		<property name="dataSource">
			<ref bean="dataSource" />
		</property>
		<property name="configLocation" value="classpath:hibernate.cfg.xml" />
		<property name="configurationClass" value="org.hibernate.cfg.AnnotationConfiguration" />
	</bean>

	<bean id="hibernateTemplate" class="org.springframework.orm.hibernate3.HibernateTemplate">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	
		<!-- siif -->
	<bean id="sessionFactorySIIF"
		class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean">
		<property name="dataSource">
			<ref bean="dataSourceSIIF" />
		</property>
		<property name="configLocation" value="classpath:hibernateSIIF.cfg.xml" />
		<property name="configurationClass" value="org.hibernate.cfg.AnnotationConfiguration" />
	</bean>

	<bean id="hibernateTemplateSIIF" class="org.springframework.orm.hibernate3.HibernateTemplate">
		<property name="sessionFactory" ref="sessionFactorySIIF" />
	</bean>

		<!-- siim -->
	<bean id="sessionFactorySIIM"
		class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean">
		<property name="dataSource">
			<ref bean="dataSourceSIIM" />
		</property>
		<property name="configLocation" value="classpath:hibernateSIIM.cfg.xml" />
		<property name="configurationClass" value="org.hibernate.cfg.AnnotationConfiguration" />
	</bean>

	<bean id="hibernateTemplateSIIM" class="org.springframework.orm.hibernate3.HibernateTemplate">
		<property name="sessionFactory" ref="sessionFactorySIIM" />
	</bean>
	
	<!-- Transaction manager for a single Hibernate SessionFactory (alternative 
		to JTA) -->
		<!-- admin -->
	<bean id="transactionManager"
		class="org.springframework.orm.hibernate3.HibernateTransactionManager">
		<property name="sessionFactory">
			<ref local="sessionFactory" />
		</property>
	</bean>

		<!-- siif -->
	<bean id="transactionManagerSIIF"
		class="org.springframework.orm.hibernate3.HibernateTransactionManager">
		<property name="sessionFactory">
			<ref local="sessionFactorySIIF" />
		</property>
	</bean>
		<!-- siim -->
	<bean id="transactionManagerSIIM"
		class="org.springframework.orm.hibernate3.HibernateTransactionManager">
		<property name="sessionFactory">
			<ref local="sessionFactorySIIM" />
		</property>
	</bean>


	<!--  *******************-->
	<!--     Respositories   -->
	<!--  *******************-->

	<bean id="abstractRepository" abstract="true">
		<property name="hibernateTemplate" ref="hibernateTemplate" />
	</bean>
	<bean id="abstractRepositorySIIF" abstract="true">
		<property name="hibernateTemplate" ref="hibernateTemplateSIIF" />
	</bean>
	<bean id="abstractRepositorySIIM" abstract="true">
		<property name="hibernateTemplate" ref="hibernateTemplateSIIM" />
	</bean>

	<bean id="menuDAO" class="ar.com.admin.dao.MenuDAO" parent="abstractRepository" />
	<bean id="loginDAO" class="ar.com.admin.dao.LoginDAO" parent="abstractRepository" />
		
	<bean id="rolDAO" class="ar.com.admin.dao.RolDAO" parent="abstractRepository" />
	<bean id="usuarioDAO" class="ar.com.admin.dao.UsuarioDAO" parent="abstractRepository" />
	<bean id="utilDAO" class="ar.com.admin.dao.UtilDAO" parent="abstractRepository" />

		<!-- siif -->
	<bean id="reportesSIIFDAO" class="ar.com.admin.dao.ReportesDAO" parent="abstractRepositorySIIF" />
	<bean id="utilSIIFDAO" class="ar.com.admin.dao.UtilDAO" parent="abstractRepositorySIIF" />
		<!-- siim -->
	<bean id="reportesSIIMDAO" class="ar.com.admin.dao.ReportesDAO" parent="abstractRepositorySIIM" />
	<bean id="utilSIIMDAO" class="ar.com.admin.dao.UtilDAO" parent="abstractRepositorySIIM" />
	
	<!--  *******************-->
	<!--     Fachadas   -->
	<!--  *******************-->

	<!-- MENU -->
	<bean id="menuFachadaImpl" class="ar.com.admin.fachada.MenuFachada">
		<constructor-arg ref="menuDAO" />
	</bean>

	<bean id="menuFachada"
		class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">
		<property name="transactionManager">
			<ref bean="transactionManager" />
		</property>
		<property name="proxyTargetClass" value="true" />
		<property name="target">
			<ref bean="menuFachadaImpl" />
		</property>
		<property name="proxyInterfaces" value="ar.com.admin.fachada.IMenuFachada" />
		<property name="transactionAttributes">
			<props>
				<prop key="*">PROPAGATION_REQUIRED,-java.lang.Exception</prop>
			</props>
		</property>
	</bean>

	<!-- LOGIN --> 
	<bean id="loginFachadaImpl" class="ar.com.admin.fachada.LoginFachada">
		<constructor-arg ref="loginDAO" />
	</bean>	

	<bean id="loginFachada"
		class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">
		<property name="transactionManager">
			<ref bean="transactionManager" />
		</property>
		<property name="proxyTargetClass" value="true" />
		<property name="target">
			<ref bean="loginFachadaImpl" />
		</property>
		<property name="proxyInterfaces" value="ar.com.admin.fachada.ILoginFachada" />
		<property name="transactionAttributes">
			<props>
				<prop key="*">PROPAGATION_REQUIRED,-java.lang.Exception</prop>
			</props>
		</property>
	</bean>
	
		
	<!-- ROL --> 
	<bean id="rolFachadaImpl" class="ar.com.admin.fachada.RolFachada">
		<constructor-arg ref="rolDAO" />
		<constructor-arg ref="usuarioDAO" />
	</bean>	

	<bean id="rolFachada"
		class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">
		<property name="transactionManager">
			<ref bean="transactionManager" />
		</property>
		<property name="proxyTargetClass" value="true" />
		<property name="target">
			<ref bean="rolFachadaImpl" />
		</property>
		<property name="proxyInterfaces" value="ar.com.admin.fachada.IRolFachada" />
		<property name="transactionAttributes">
			<props>
				<prop key="*">PROPAGATION_REQUIRED,-java.lang.Exception</prop>
			</props>
		</property>
	</bean>
	
	<!-- USUARIO --> 
	<bean id="usuarioFachadaImpl" class="ar.com.admin.fachada.UsuarioFachada">
		<constructor-arg ref="usuarioDAO" />
		<constructor-arg ref="rolFachada" />
	</bean>	

	<bean id="usuarioFachada"
		class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">
		<property name="transactionManager">
			<ref bean="transactionManager" />
		</property>
		<property name="proxyTargetClass" value="true" />
		<property name="target">
			<ref bean="usuarioFachadaImpl" />
		</property>
		<property name="proxyInterfaces" value="ar.com.admin.fachada.IUsuarioFachada" />
		<property name="transactionAttributes">
			<props>
				<prop key="*">PROPAGATION_REQUIRED,-java.lang.Exception</prop>
			</props>
		</property>
	</bean>

	<!-- REPORTES -->
		<!-- siif --> 
	<bean id="reportesSIIFFachadaImpl" class="ar.com.admin.fachada.ReportesFachada">
		<constructor-arg ref="reportesSIIFDAO" />
	</bean>	

	<bean id="reportesSIIFFachada"
		class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">
		<property name="transactionManager">
			<ref bean="transactionManagerSIIF" />
		</property>
		<property name="proxyTargetClass" value="true" />
		<property name="target">
			<ref bean="reportesSIIFFachadaImpl" />
		</property>
		<property name="proxyInterfaces" value="ar.com.admin.fachada.IReportesFachada" />
		<property name="transactionAttributes">
			<props>
				<prop key="*">PROPAGATION_REQUIRED,-java.lang.Exception</prop>
			</props>
		</property>
	</bean>
		
		<!-- siim -->
	<bean id="reportesSIIMFachadaImpl" class="ar.com.admin.fachada.ReportesFachada">
		<constructor-arg ref="reportesSIIMDAO" />
	</bean>	

	<bean id="reportesSIIMFachada"
		class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">
		<property name="transactionManager">
			<ref bean="transactionManagerSIIM" />
		</property>
		<property name="proxyTargetClass" value="true" />
		<property name="target">
			<ref bean="reportesSIIMFachadaImpl" />
		</property>
		<property name="proxyInterfaces" value="ar.com.admin.fachada.IReportesFachada" />
		<property name="transactionAttributes">
			<props>
				<prop key="*">PROPAGATION_REQUIRED,-java.lang.Exception</prop>
			</props>
		</property>
	</bean>

	<!-- UTIL -->
		<!-- admin --> 
	<bean id="utilFachadaImpl" class="ar.com.admin.fachada.UtilFachada">
		<constructor-arg ref="utilDAO" />
	</bean>	

	<bean id="utilFachada"
		class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">
		<property name="transactionManager">
			<ref bean="transactionManager" />
		</property>
		<property name="proxyTargetClass" value="true" />
		<property name="target">
			<ref bean="utilFachadaImpl" />
		</property>
		<property name="proxyInterfaces" value="ar.com.admin.fachada.IUtilFachada" />
		<property name="transactionAttributes">
			<props>
				<prop key="*">PROPAGATION_REQUIRED,-java.lang.Exception</prop>
			</props>
		</property>
	</bean>

		<!-- siif --> 
	<bean id="utilSIIFFachadaImpl" class="ar.com.admin.fachada.UtilFachada">
		<constructor-arg ref="utilSIIFDAO" />
	</bean>	

	<bean id="utilSIIFFachada"
		class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">
		<property name="transactionManager">
			<ref bean="transactionManagerSIIF" />
		</property>
		<property name="proxyTargetClass" value="true" />
		<property name="target">
			<ref bean="utilSIIFFachadaImpl" />
		</property>
		<property name="proxyInterfaces" value="ar.com.admin.fachada.IUtilFachada" />
		<property name="transactionAttributes">
			<props>
				<prop key="*">PROPAGATION_REQUIRED,-java.lang.Exception</prop>
			</props>
		</property>
	</bean>	

		<!-- siim -->
	<bean id="utilSIIMFachadaImpl" class="ar.com.admin.fachada.UtilFachada">
		<constructor-arg ref="utilSIIMDAO" />
	</bean>	

	<bean id="utilSIIMFachada"
		class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">
		<property name="transactionManager">
			<ref bean="transactionManagerSIIM" />
		</property>
		<property name="proxyTargetClass" value="true" />
		<property name="target">
			<ref bean="utilSIIMFachadaImpl" />
		</property>
		<property name="proxyInterfaces" value="ar.com.admin.fachada.IUtilFachada" />
		<property name="transactionAttributes">
			<props>
				<prop key="*">PROPAGATION_REQUIRED,-java.lang.Exception</prop>
			</props>
		</property>
	</bean>


	<!--  *******************-->
	<!--       Parameters    -->
	<!--  *******************-->

	<bean id="version" class="java.lang.String">
		<constructor-arg value="1.0" />
	</bean>


	<!-- <bean id="log4jInitialization" class="org.springframework.beans.factory.config.MethodInvokingFactoryBean"> 
		<property name="targetClass" value="org.springframework.util.Log4jConfigurer" 
		/> <property name="targetMethod" value="initLogging" /> <property name="arguments"> 
		<list> <value>${webapp.root}/WEB-INF/log4j.properties</value> </list> </property> 
		</bean> -->


</beans>